*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    
   
   
    min-height: 100vh;
    background: url('https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png') no-repeat,100% ;
    background-size: cover;
    background-position: center;
}


 .nav-link {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.nav-link:hover::after{
    transform: scaleX(1);
}

.nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:#fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
 }
.button{
    width: 130px;
    height:50px ;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

.button:hover{
    background: #fff;
    color: #0b0217;
}
.button {
    padding: 6px 24px;
    border: 2px solid #fff;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.btn {
  color:white;
}

.btn:hover{
  color: black;
}
.form_container {
    position: fixed;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease-out;
  }
  .home.show .form_container {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
  .signup_form {
    display: none;
  }
  .form_container.active .signup_form {
    display: block;
  }
  .form_container.active .login_form {
    display: none;
  }
  .form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
  }
  .form_container h2 {
    font-size: 22px;
    color: #0b0217;
    text-align: center;
  }
  .input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
  }
  .input_box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
  }
  .input_box input:focus {
    border-color: #7d2ae8;
  }
  .input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #707070;
  }
  .input_box i.email,
  .input_box i.password,
  .input_box i.username {
    left: 0;
  }
  .input_box input:focus ~ i.email,
  .input_box input:focus ~ i.password,
  .input_box input:focus ~ i.username{
    color: #7d2ae8;
  }
  .input_box i.pw_hide {
    right: 0;
    font-size: 18px;
    cursor: pointer;
  }
  .option_field {
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form_container a {
    color: #7d2ae8;
    font-size: 12px;
  }
  .form_container a:hover {
    text-decoration: underline;
  }
  .checkbox {
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
  }
  .checkbox input {
    accent-color: #7d2ae8;
  }
  .checkbox label {
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: #0b0217;
  }
  .form_container .btn {
    background: #7d2ae8;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    margin-right: 50px;
  }
  .login_signup {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
  }